#formulaire_document{
    background-color: #424242;
    padding: 20px;
    width: 600px;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.32);
    h1{
        text-align: center;
    }
    .container-form{
        margin: auto;
        width: 80%;
        .Recipient{
            display: flex;
            flex-direction: column;
            .custom-form-field{
                width: 100%;
            }
        }
        .title{
            margin: 20px auto;
        }
        .services{
            width: 100%;
            margin: 20px auto;
            td{
                border-bottom: solid 1px gray;
                padding: 5px 0;
            }
            .table-field{
                width: 100%;
            }
        }
        .custom-form-field{
            width: 100%;
        }
        .total{
            margin: 20px auto;
            width: 60%;
            .ttc, .ht{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-weight: 700;
            }
        }
    }
}