#balance{
    max-width: 500px;
    width: 100%;
    background-color: #424242;
    margin: 50px auto;
    border-radius: 10px;
    .container{
        padding: 30px;
    }
    .addsection{
        display: flex;
        flex-direction: row;
        padding: 30px;
        .item{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-right: 40px;
            
            p{
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 10px;
            }
        }
    }
}

#balance .total{
    text-align: right;
}

#balance h4{
    color:rgb(142, 142, 142);
}

.addIncome, .addExpense{
    cursor: pointer;
}