<div id="dataScreen">
    <div *ngFor="let item of data">
        <div class="itemExpense">
            <div class="header">
                <div class="date">
                    <p>{{item.date | date:'MMM d'}}</p>
                </div>
                <div class="libelé">
                    <p><span class="tag">{{item.tag}}</span><br/><br/>{{item.name | uppercase}}</p>
                </div>
                <div class="amount">
                    <p>- {{item.amount}} $</p>
                    <div class="charge">
                        <p *ngIf="item.charge">charge</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
