<h1 mat-dialog-title>Add Income</h1>
<div mat-dialog-content class="container-form">

  <mat-form-field class="custom-form-field">
    <mat-label>Income</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="custom-form-field">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  
  <mat-form-field class="custom-form-field">
    <mat-label>When...</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="custom-form-field">
    <mat-label>Entreprise ou particulier...</mat-label>
    <mat-select>
      <mat-option value="Entreprise">Entreprise</mat-option>
      <mat-option value="Particulier">Particulier</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Save</button>
</div>