<div id="balance">
    <div class="container">
        <div>LOGO</div>
        <div class="total">
            <h4>Total balance</h4>
            <h1>${{balance}}</h1>
        </div>
    </div>
    <div class="addsection">
        <div class="item">
            <div>
                <mat-icon>add_circle_outline</mat-icon>
            </div>
            <div>
                <p>Add spending</p>
            </div>
        </div>
        <div class="item">
            <mat-icon>add_circle_outline</mat-icon>
            <p>Add Income</p>
        </div>
    </div>
</div>
