button {
    padding-left: 8px;
    cursor: pointer;
  }

.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .custom-form-field {
        width: 100%;
        margin: 10px auto;
    
    }
}
  

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

    p{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
    }
}