button {
    padding-left: 8px;
    cursor: pointer;
  }

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

    p{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
    }
}