#statistics{
    width: 700px;
    margin: 50px auto;
    .statistics-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .health{
            margin: 50px auto;
            width: 100%;
        }
        .spending, .income{
            width: 300px;
        }
        .category-camembert{
            margin: 50px auto;
            width: 100%;
        }
    }
}