<div id="statistics">
    <h2>Statistics</h2>
    <div class="statistics-container">
        <mat-card class="health">
            <mat-card-header>
                <mat-card-title>health</mat-card-title> 
            </mat-card-header>
        </mat-card>
        <mat-card class="spending">
            <mat-card-header>
                <mat-card-title>Spending</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card class="income">
            <mat-card-header>
                <mat-card-title>Income</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card class="category-camembert">
            <mat-card-header>
                <mat-card-title>Category spending in percentage</mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
</div>
