<div id="statistics">
    <h2>Statistics</h2>
    <div class="statistics-container">
        <mat-card class="category-camembert">
            <mat-card-header>
                <mat-card-title>Category</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-category-spending></app-category-spending>
            </mat-card-content>
        </mat-card>
        <mat-card class="health">
            <mat-card-header>
                <mat-card-title>health</mat-card-title> 
            </mat-card-header>
            <mat-card-content>
                <app-health-chart></app-health-chart>
            </mat-card-content>
        </mat-card>
        <mat-card class="spending">
            <mat-card-header>
                <mat-card-title>Spending</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-spending-chart></app-spending-chart>
            </mat-card-content>
        </mat-card>
        <mat-card class="income">
            <mat-card-header>
                <mat-card-title>Income</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-income-chart></app-income-chart>
            </mat-card-content>
        </mat-card>
    </div>
</div>
