#statistics{
    width: 900px;
    margin: 50px auto;
    .statistics-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .health{
            margin: 25px 0 25px 0;
            width: 500px;
        }
        .spending, .income{
            width: 435px;
        }
        .category-camembert{
            margin: 25px 0 25px 0;
            width:370px;
        }
    }
}