<div id="invoice">
    <div class="header">
        <div class="left filter">
            <div>
                <mat-form-field class="custom-input">
                    <input matInput placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="searchInvoices()">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="custom-datepicker">
                    <mat-label>MM/DD/YYYY</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="date" (ngModelChange)="searchInvoicesByDate()"/>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>
        <div class="right">
            <button mat-stroked-button>New Estimate</button>
            <button mat-stroked-button>New Invoice</button>
        </div>
    </div>
    <div class="list">
        <mat-list class="custom-list">
            <mat-list-item class="custom-invoice">
                <div class="container">
                    <p>File</p>
                    <p>Recipient</p>
                    <p>Reference</p>
                    <p>Date</p>
                </div>
            </mat-list-item>
            <div *ngFor="let invoice of filteredInvoices">
                <mat-list-item class="custom-invoice">
                    <div class="container">
                        <a [href]="invoice.url" target="_blank">Invoice</a>
                        <p>{{ invoice.recipient }}</p>
                        <p>{{ invoice.invoiceNumber }}</p>
                        <p>{{ invoice.date | date }}</p>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
          </mat-list>
    </div>
</div>