<div id="facture">
    
    <div class="box_facture">
        <div class="description">
           <div class="section">
               <mat-icon>receipt</mat-icon>
               <p>You can estimate the work you need here for your customers</p>
           </div>
           <div class="section">
                <mat-icon >attach_money</mat-icon>
                <p>You can create a quick and clean invoice here for your customers</p>
           </div>
        </div>
        <div class="container-button">
            <div>
                Click here to create a quote or invoice
            </div>
            <app-new-invoice/>
            <app-new-estimate/>
        </div>
    </div>
</div>
