<div id="settings">
	<mat-card class="container-card">
		<mat-card-header class="card-header">
		  <mat-card-title>Account setting</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form>
				<div class="form-column">
					<div class="form-row">
	
						<!-- Pseudo -->
						<div>
							<mat-label>Pseudo</mat-label>
							<p class="dataText">{{getAccount().pseudo}}
						</div>
						
						<!-- password -->
						<div>
							<mat-label>password</mat-label>
							<p class="dataText">*************</p>
							<button mat-stroked-button (click)="editAccount('0ms', '0ms')" style="margin: 0;">
								Edit password<mat-icon>edit</mat-icon>
							</button>
						</div>
					</div>
					
				</div>
			</form>
		</mat-card-content>
	</mat-card>
	<mat-card class="container-card">
		<mat-card-header class="card-header">
		   <mat-card-title>Business Information</mat-card-title>
		   <button mat-icon-button (click)="editBusinessInfo('0ms', '0ms')">
			   <mat-icon>edit</mat-icon>
			</button>
		</mat-card-header>
		<mat-card-content>
			<div class="form-column">
				<div class="form-row">
					<!--Name-->
					<div>
						<mat-label>Name</mat-label>
						<p class="dataText">{{getBusinessInfo().name}}</p>
					</div>
					<!-- Logo -->
					<div>
						   <mat-label>Logo</mat-label>
						   <p>
						</div>
					</div>
					<div class="form-row">
						<!-- Business Name -->
						<div>
							<mat-label>Business Name</mat-label>
							<p class="dataText">{{getBusinessInfo().businessName}}</p>
						</div>
						
						<!-- Email -->
						<div>
							<mat-label>Email</mat-label>
							<p class="dataText">{{getBusinessInfo().email}}</p>
						</div>
					</div>
					<div class="form-row">
						<!-- Address -->
						<div>
						   <mat-label>Address</mat-label>
						   <p class="dataText">{{getBusinessInfo().address}}</p>
					   </div>
						<!-- Legal Status -->
					   <div>
						   <mat-label>Legal Status</mat-label>
						   <p class="dataText">{{getBusinessInfo().legalStatus}}</p>
					   </div>
					   
					</div>
					<div class="form-row">
					   <!-- Code Ape -->
					   <div>
						   <mat-label>Code Ape</mat-label>
						   <p class="dataText">{{getBusinessInfo().codeApe}}</p>
					   </div>
					   <!-- Siret -->
					   <div>
						   <mat-label>Siret</mat-label>
						   <p class="dataText">{{getBusinessInfo().siret}}</p>
					   </div>
			   
					</div>
					<div class="form-row">
						<!-- IBAN -->
						<div>
							<mat-label>IBAN</mat-label>
							<p class="dataText">{{getBusinessInfo().siret}}</p>
						</div>
						<!-- TVA Code -->
					   <div>
						   <mat-label>TVA Code</mat-label>
						   <p class="dataText">{{getBusinessInfo().tvaCode}}</p>
					   </div>
				   </div>
				</div>
		   </mat-card-content>
	   </mat-card>
	   <mat-card class="container-card">
		<mat-card-header class="card-header">
			<mat-card-title>Document Information</mat-card-title>
			<button mat-icon-button (click)="editConditionDocument('0ms', '0ms')">
				<mat-icon>edit</mat-icon>
			</button>
		</mat-card-header>
		<mat-card-content>
			<form>
				<div class="form-row">
					<!-- Deadline to Pay -->
					<div>
					<mat-label>Deadline to Pay</mat-label>
					<p class="dataText">{{getCondition().deadLinePay}}</p>
					</div>
	
					<!-- Estimate -->
					<div>
					<mat-label>Estimate</mat-label>
					<p class="dataText">{{getCondition().estimate}}</p>
					</div>
				</div>
	
				<div class="form-row">
					<!-- Invoices -->
					<div>
					<mat-label>Invoices</mat-label>
					<p class="dataText">{{getCondition().invoices}}</p>
					</div>
	
					<!-- No TVA Justify -->
					<div>
					<mat-label>No TVA Justify</mat-label>
					<p class="dataText">{{getCondition().noTvaJustify}}</p>
					</div>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
		
</div>
  